!!! 5
%html
  %head
    - if content_for? :title
      %title= yield_content :title
    - else
      %title= data.page.title || "Wendycan"

    %meta(http-equiv="content-type" content="text/html" charset="utf-8")
    %meta(http-equiv="x-ua-compatible" content="ie=edge,chrome=1")

    -# Stylesheets
    = stylesheet_link_tag 'application'
  %body{class: page_classes}
    .off-canvas-wrap{:'data-offcanvas' => true}
      = partial "layouts/nav"
      .inner-wrap
        = partial "layouts/small_nav"

        .content
          = yield

        .footer
          = partial 'layouts/footer'
        %a.exit-off-canvas

    / .header
    /   = partial 'layouts/header'

    / .content
    /   = yield

    / .footer
    /   = partial 'layouts/footer'
    = javascript_include_tag 'application'
