!!! 5
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "on", "http-equiv" => "cleartype"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/

    - if content_for? :title
      %title= yield_content :title
    - else
      %title= data.page.title || "阅台"

    -# Stylesheets
    = stylesheet_link_tag 'application'
  %body{class: page_classes}
    .off-canvas-wrap{:'data-offcanvas' => true}
      = partial "layouts/nav"
      .inner-wrap
        = partial "layouts/small_nav"

        .content
          = yield

        = partial 'layouts/footer'
        %a.exit-off-canvas

    = javascript_include_tag 'application'
    :javascript
      var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
      document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fa9f96df7583216ce1fe2a85e0cf24293' type='text/javascript'%3E%3C/script%3E"));
